<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .H2 {
        color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="H1">H1 text</h1>
    <h2 class="H2">H2 text</h2>
    <h6>H6 text</h6>
    <p>Основной контейнер для всех элементов <span style="color: red">HTML-документа</span>. Все содержимое страницы помещается внутри этого тега.</p>
    <a href="https://nobugs.me/members/login?redirecturl=members/courses/babies-python" target="_blank">Python</a>
    <img alt="browser.png" src="https://i.pinimg.com/736x/c9/72/a4/c972a4e9acc6fb1c89b35e47b01b38ac.jpg" style="width: 250px">
    <ul>
        <li class="H2">Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" placeholder="Text" disabled>
        <input type="email" placeholder="email">
        <input type="password" placeholder="password">
        <textarea placeholder="More text"></textarea>
        <button type="submit">Test button</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>